<!-- <nav class="navbar navbar-expand-lg navbar-dark fixed-top px-5" >
    <h3 class="navbar-brand"><a routerLink="/">Noxe</a></h3>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collabse navbar-collabse" id="navbarNavDropdown">
      <ul class="navbar-nav">

        <li class="nav-item"><a class="nav-link" routerLink="/home">Home</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/about">About</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/gallery">Gallery</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/movies">Movies</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/tv">Tv</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/contacts">Contacts</a></li>
      </ul>


  <ul class="navbar-nav ms-auto">
    <li class="social-links nav-item">
      <i class="nav-item fab fa-facebook"></i>
      <i class="nav-item fab fa-imdb"></i>
      <i class="nav-item fab fa-instagram"></i>
      <i class="nav-item fab fa-youtube"></i>
      <i class="nav-item fab fa-spotify"></i>
    </li>

    <li class="nav-item"><a class="nav-link" routerLink="/login">Login</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="/register">Register</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="/">Logout</a></li>
  </ul>

</div>

</nav> -->


<nav class="navbar navbar-expand-lg navbar-dark sticky-top px-5">
  <a class="navbar-brand" >Movie</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li  class="nav-item active">
        <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li  class="nav-item"><a class="nav-link" routerLink="/about">About</a></li>
      <li  class="nav-item"><a class="nav-link" routerLink="/gallery">Gallery</a></li>
      <li  class="nav-item"><a class="nav-link" routerLink="/movies">Movies</a></li>
      <li  class="nav-item"><a class="nav-link" routerLink="/tv">TV</a></li>
      <li  class="nav-item"><a class="nav-link" routerLink="/contacts">Contacts</a></li>


    </ul>
    <ul class="navbar-nav ms-auto">
      <li class="social-media  nav-item">
          <i class="fab p-2 fa-facebook"></i>
          <i class="fab p-2 fa-instagram"></i>
          <i class="fab p-2 fa-youtube"></i>
          <i class="fab p-2 fa-spotify"></i>
          <i class="fab p-2 fa-xbox"></i>
      </li>
      <li  class="nav-item"><a class="nav-link" routerLink="/login">Login</a></li>
      <li  class="nav-item"><a class="nav-link" routerLink="/register">Register</a></li>
      <li class="nav-item dropdown ">
        <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Settings
        </a>
        <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Log</a>
          <a class="dropdown-item" href="#">Password</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Profile</a>
        </div>
      </li>
      <li  class="nav-item"><a class="nav-link" routerLink="/">LogOut</a></li>
  </ul>
  </div>
</nav>
