
  <div class="row">
    <div class="col-md-3">
      <img class="w-100" [src]="imgPrefix+details.poster_path" alt="">
    </div>
    <div class="col-md-9">
      <h2 class="fw-border pt-3">{{details.title}} <span class="px-3 text-muted fs-5">{{details.vote_average |  number:'1.0-1'}}</span></h2>
      <h5 class="text-secondary px-4">{{details.tagline}}</h5>
      <p class="text-muted p-2">{{details.overview}}</p>
      <div class="row">
        <div class="col-md-6">
          <h4>Genres</h4>
          <ul>
            <li class="py-1" *ngFor="let genre of details.genres">
              {{genre.name}}
            </li>
          </ul>
        </div>
        <div class="col-md-6">
          <h4>Production Companies</h4>
          <ul>
            <li class="py-1" *ngFor="let company of details.production_companies">
              {{company.name}}
            </li>
          </ul>
      </div>
      </div>
    </div>
  </div>
