/* You can add global styles to this file, and also import other style files */
// Global Varibles
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
// Background
$bgColor: #131722;
$lightBgColor: #24baef;
$bgTransparent: rgba(36, 186, 239, .6);

// Font
$fontColor: #fff;
$secondFontColor: #949cb0;

// Border
$borderColor: #a8a8a83d;
$borderHeight: 1px;


*,*::after,*::before{
  box-sizing: border-box;
}
html{
  box-sizing: inherit;
  // font-size: 62.5%; will add it later to add responsivity
}
body{
  background-color: $bgColor;
  color: $fontColor;
  font-family: 'Montserrat', sans-serif;
  height: 100vh; // will delete this line after filling other sections content
}
.light-colors{
  background-color: $lightBgColor;
}
